html {
  color: #f67aff;
  font-size: 10px;
  background-color: #101f00;
  font-family: 'Balsamiq Sans', cursive;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 5px yellow;
  font-size: 60px;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

a {
  color: #B3B3FF;
}

a:visited {
  color: #b3b399;
}

p, li {
  font-size: 32px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #101f00;
  padding: 0 20px 20px 20px;
  border: 5px solid #b3b3ff;
}

img {
  width: 600px;
  margin: 0 auto;
  display: block;
}

button {
  text-align: center;
  font-size: 30px;
}

#menu {
  list-style: none;
  font-size: 30px;
}

#menu li::before {
  content: "ph:&\sawa";
}
