
/*allowing older browsers to use html5 elements as per https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML_sections_and_outlines  
*/
article, aside, footer, header, nav, section {
  display: block;
}

h2 {
  font-size: 2rem;
  margin: 0;
  color: purple;
}

li {
  color: gray;
  margin: 0.5em 0;
}

div {
  height: 600px;
}
    
p {
  color: gray;
  margin: 0.5em 0;
}
    
